[user]
    name = Adrien Brault
    email = adrien.brault@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[alias]
    st = status
    cm = commit
    co = checkout
    d = difftool
[color]
    ui           = auto
    branch       = auto
    diff         = auto
    status       = auto
    interactive  = auto
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[push]
    default = current
